html {
    background-color: rgb(247, 245, 245);
}

#header-section {
    position: relative;
    z-index: 9999999;
    display: block;
    width: 100%;
    min-height: 40px;
    background-color: transparent;
    text-align: center;
}

#footer-section {
    display: block;
    overflow: hidden;
    padding-bottom: 16px;
    line-height: 1.2em;
}

#footer-section a {
    text-decoration: none;
    color: grey;
}

main {
    display: block;
    width: 77%;
    margin-left: auto;
    margin-right: auto;
}

.title_name {
    font-family: cursive;
    color: black;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}

header {
    margin-top: 10px;
    margin-bottom: 7px;
}

header a {
    font-size: 15px;
    text-decoration: none;
    color: black;
    background-color: rgb(230, 224, 224);
    width: 20px;
    padding: 7px 15px;
}

.dot_border {
    font-size: 12px;
    cursor: pointer;
    line-height: 5px;
    display: inline-block;
    border-radius: 200px 200px;
}

.left {
    float: left;
    margin-right: 8px;
}

.sample {
    border: 1px solid black;
    width: 20px;
    height: 10px;
    background-color: #575757;
    padding: 2px;
}

.right {
    display: inline-block;
    float: right;
}

.dot {
    padding-right: 5px;
    padding-top: 5px;
    font-size: .1px;
    border-radius: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 230px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#dropdown {
    display: block;
    background: gray;
}

#buttonDrop .chip-button {
    margin: 0 0 8px;
    background-color: rgb(230, 224, 224);
    border-radius: 200px;
    width: 180px;
}

.bold {
    font-size: 14px;
    font-weight: 600;
}

#buttonDrop.show {
    margin-top: 10px;
    margin-left: 275px;
    display: block;
}

.button-list {
    text-align: left;
    display: block;
    padding: 20px;
}

.chip-button.select {
    float: left;
    padding-top: 6px;
}

.plate {
    float: left;
    display: inline-block;
    padding: 3px;
    width: 20px;
    height: 20px;
    border-radius: 200px;
    margin-bottom: 6px;
    margin-left: 6px;
    margin-right: 6px;
}

#extra-extra-large .plate {
    background-color: orange;
    opacity: .5;
}

#extra-large .plate {
    background-color: red;
    opacity: .5;
}

#large .plate {
    background-color: maroon;
    opacity: .5;
}

#medium .plate {
    background-color: green;
    opacity: .5;
}

#small .plate {
    background-color: blue;
    opacity: .5;
}

#extra-small .plate {
    background-color: purple;
    opacity: .5;
}

.i-align {
    margin-top: 4px;
    margin-left: 2px;
    font-size: 16px;
    border-radius: 200px;
    background-color: black;
    padding: 4px;
    height: 17px;
}

#setting {
    display: none;
}

@media screen and (max-width:980px) {
    #setting {
        user-select: none;
        display: inline-block;
        height: 48px;
        width: 48px;
        position: relative;
        padding-top: 3px;
        right: -10px;
        color: #575757;
        background-color: transparent;
        border-radius: 400px;
        margin: 0;
        text-align: center;
        cursor: pointer;
        float: right;
    }
    #right {
        display: none;
    }
}

@media screen and (max-width:845px) {
    #footer-right {
        text-align: center;
        float: none;
        display: block;
    }
    #footer-left {
        text-align: center;
        float: none;
        display: block;
    }
}

@media screen and (max-width:320px) {
    header .left {
        text-align: center;
        float: none;
        display: block;
    }
    header .right {
        float: none;
        right: 0;
    }
}

.active {
    background-color: gray;
}

header a:hover {
    background-color: gray;
}

#fullscreen {
    cursor: pointer;
}

#FS {
    background-color: rgb(247, 245, 245);
}

svg {
    box-shadow: 0 0 1px 0 rgba(10, 22, 70, .15), 0 2px 6px -1px rgba(10, 22, 70, .2);
}

#touch-tip {
    color: white;
    font-size: 16px;
    top: 50%;
    left: 50%;
}

.touch-tip {
    display: block;
    visibility: visible;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -58%);
    transform: translate(-50%, -58%);
    color: #fff;
    background-color: #141414;
    background-color: rgba(0, 0, 0, .5);
    z-index: 99999;
    padding: 1.5em;
    border-radius: 1em;
}

#svg-screensize:hover g:hover rect {
    fill-opacity: 20;
}

#svg-screensize:hover g:hover rect:hover {
    fill-opacity: .3;
    stroke: #fff;
    stroke-width: .15em;
    stroke-dasharray: 0;
    -webkit-transition: none;
    transition: none;
    fill: #333
}

#svg-screensize:hover g:hover#XXL rect {
    fill: #f1c40f
}

#svg-screensize:hover g:hover#XXL rect:hover {
    fill: #333
}

#svg-screensize:hover g:hover#XL rect {
    fill: #e67e22
}

#svg-screensize:hover g:hover#XL rect:hover {
    fill: #333
}

#svg-screensize:hover g:hover#L rect {
    fill: #e74c3c
}

#svg-screensize:hover g:hover#L rect:hover {
    fill: #333
}

#svg-screensize:hover g:hover#M rect {
    fill: #2ecc71
}

#svg-screensize:hover g:hover#M rect:hover {
    fill: #333
}

#svg-screensize:hover g:hover#S rect {
    fill: #2980b9
}

#svg-screensize:hover g:hover#S rect:hover {
    fill: #333
}

#svg-screensize:hover g:hover#XS rect {
    fill: #8e44ad;
}

#svg-screensize:hover g:hover#XS rect:hover {
    fill: #333
}

.tool-tip {
    position: absolute;
    display: inline-block;
    top: 20%;
    left: 15%;
    right: 5%;
    min-height: 110px;
    height: auto;
    width: 250px;
    background-color: black;
    color: gray;
    font-style: italic;
    font-size: 16px;
}

footer {
    font-size: 16px;
    color: gray;
}